<table>
  <thead>
  <th><label data-test="lableNamefield">Name: </label></th>
  <th><input data-test="namefield" [(ngModel)]="name"></th>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><button data-test="submitButton" (click)="submit()">Submit</button></td>
    <td><button (click)="clear()">Clear</button></td>
  </tr>
  </tbody>
</table>

