<h1>Todo App</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Todos</th>
    <th>Done</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let todo of todos$ | async" scope="row" (click)="toggle(todo.id)">
    <td>{{todo.content}}</td>
    <td>{{todo.status}}</td>
  </tr>
  </tbody>
</table>
